extends layout

block content
  section#graph
    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')

  script(src='http://d3js.org/d3.v3.js')
  script(src='https://lodash.com/_js/lodash.js')
  script(src='/js/bootstrap.js')
