extends layout

block content
    section#graph
    script(src='http://underscorejs.org/underscore.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://datamaps.github.io/scripts/topojson.js')
    script(src='http://datamaps.github.io/scripts/datamaps.all.js')
    script(src='/js/bootstrap.js')
