body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background: #333;
}

a {
  color: #00B7FF;
}

.node {
    cursor: pointer;
}

.node rect {
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}
